{% extends "rest_framework/base.html" %}

{% block content %}
<div class="container">
    <h1 style="color: #4CAF50;">¡Bienvenido al Sistema Inbotf!</h1>
    <p>Explora los recursos de tu API:</p>

    <ul class="list-group">
        {% for key, value in request.accepted_renderer.get_default_renderer().render(api_root, request.accepted_media_type, context={'request': request}).items %}
            <li class="list-group-item">
                <a href="{{ value }}">{{ key|capfirst }}</a>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}

{% block style %}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f0f2f5;
    }
    .container {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        text-align: center;
        color: #555;
        margin-bottom: 30px;
    }
    .list-group {
        list-style: none;
        padding: 0;
    }
    .list-group-item {
        background-color: #e9ecef;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    .list-group-item:hover {
        background-color: #dee2e6;
    }
    .list-group-item a {
        display: block;
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1em;
    }
    .list-group-item a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %} 